#members {
    font-size: x-large;
    /*display: flex;*/
    justify-content: space-evenly;
    margin: auto;
    width: 50%;
    text-align: center;

}

#Nitor {
    text-align: center;
    font-family: 'personamain';
}

#Neyato {
    text-align: center  ;
    font-family: 'MarioGalaxy2';
}

#Mortim {
    text-align: center;
    font-family: 'csSourceFont';
}