#leaderboard-flex {
    display: flex;
    justify-content: center;
    max-height: 800px;
    overflow-y: scroll;
}

#leaderboard-flex table tr, #leaderboard-flex table td, #leaderboard-flex table th {
    border: 4px dashed #fff;
    padding: 15px;
    background-color: #1c1a1a;
}

#leaderboard-flex table tr td, #leaderboard-flex table tr th {
    font-family: 'm6x11';
    font-size: 25px;
    color: #fff;
}