#leaderboard-flex {
    display: flex;
    justify-content: center;
}

table tr, table td, table th {
    border: 4px dashed #000;
    padding: 15px;
}

table tr td, table tr th {
    font-family: 'm6x11';
    font-size: 25px;
    color: #000;
}